.error-page {
  margin: 100px 0 40px;
  text-align: center;
}

.error-page__header-image {
  width: 112px;
}

.error-page__title {
  font-family: "Georgia Regular", Arial, sans-serif;
  font-size: 31px;
}
