.detail-title{
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.07px;
  color: rgba(0, 0, 0, 0.87);
}


.sub-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.07px;
  color: rgba(0, 0, 0, 0.87);
}

.line-spacing{
  border: 1px solid #979797
}
