$tl: 0.6s; // transition length

.search-box {
  transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
  width: 30px;
  height: 53px;
  border-radius: 0;
  border-bottom: 3px solid white;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  cursor: pointer;
  background: transparent;
  position: relative;
  bottom: -91px;
  right: 23%;
  transform: translate(50%, -50%);
  & + label .search-icon {
    color: black    }
  &:hover {
    color: white;
    background: #2153A3;
    & + label .search-icon {    color: white    }
  }
  &:focus {
    transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #2153A3;
    border-bottom: 3px solid white;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: black;
    right: 59%;
    & + label .search-icon {
      color: black;
    }
  }
  &:not(:focus) {
    text-indent:-5000px;
  } // for more-graceful falling back (:not browsers likely support indent)
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  position: relative;
  z-index: 10;
  top: 25px;
  right: 32px;
  cursor: pointer;
}
